body,html{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1e293b;
    flex-direction: column;
}


.game-box{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #030712;
}

.box-cell{
    border: 2px solid #030712;
    font-size: 5rem;
    text-align: center;
    color: #f9fafb;
    display:flex;
    justify-content: center;
    align-items: center;
}


.game-box{
    height: 60vh;
    width: 34vw;
    margin-top: 3rem;

}



.restart{
    width: 6rem;
    height: 2rem;
    background-color: #94a3b8;
    border-radius: 8px;
    grid-row: 3/-1;
    margin-top: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content{
    display:grid;
    grid-template-rows: auto auto 1fr;
}

.game-box{
    grid-row: 2/3;
    
}





.name{
    font-size: 4rem;
    text-align: center;
    color: #94a3b8;
}

.content{
}

.stats{
    display: flex;
    color: #94a3b8;
    gap: 20px;
    justify-content: center;
    margin-top: 1rem;

    font-size: 1.5rem;

}

.empty:hover{

    background-color: #94a3b833;

}